<div class='container'>
  <div class='row'>

    <div class='col-md-12'>

      <div class='widget stacked widget-table'>
        <div class='widget-header'>
          <h3>Power Rankings</h3>
        </div>

        <div class='widget-content'>

          <table class='table table-bordered table-striped'>
            <thead>
              <tr>
                <td>Rank</td>
                <td>Programmer</td>
                <td>PowerPoints</td>
                <td>GitHub Commits</td>
                <td>Exercism Submissions</td>
              </tr>
            </thead>
            <tbody>
              <% @ranked_users.each_with_index do |user, index| %>
              <tr>
                <td class='rank'><%= index + 1 %></td>
                <td class='username'><%= link_to user.nickname, user_path(user) %></td>
                <td class='power_points'><%= user.score %></td>
                <td class='commits'><%= user.commits %></td>
                <td class='exercisms'><%= user.exercism_submissions %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>

      </div

    </div>

  </div>
</div>
