<div class='container'>

  <div class='user-header'>
    <h1 style="width:50%"><%= @user.nickname %></h1>
    <br />
    <h3>Total Points: <%= @user.score %></h3>
    <hr style="height:2px;width:100%;background-color:orange" />
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <div class='widget stacked'>
        <div class='widget-header'>
          <i class='icon-bar-chart'></i>
          <h3>Commits per Week</h3>
        </div>
        <div class='widget-content'>
          <canvas id='ranking-chart' height='394px' width='530px'>
          </canvas>
        </div>
      </div>
    </div>

    <div class='col-md-6'>
      <div class='widget stacked'>
        <div class='widget-header'>
          <i class='icon-bar-chart'></i>
          <h3>Points Breakdown</h3>
        </div>
        <div class='widget-content'>
          <div id="pieChartContainer" style="max-width:800px;height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class='user-header'>
    <h2 style="width:50%">Badges</h2>
    <hr style="height:2px;width:100%;background-color:orange" />
  </div>

  <div class='badges'>
    <% @badges.each do |badge| %>
      <div class='badge_container' style='margin:2%'>
        <h4><%= badge.name %></h4>
        <%= image_tag badge.image %>
        <div class='over-badge'>
          <p><%= badge.description %></p>
        </div>
      </div>
    <% end %>
    <% unless @badges.length > 0 %>
      <%= link_to 'http://coderwall.com' do %>
        No badges? Awww, its all good, just sign-up for your free coderwall account here
      <% end %>
    <% end %>
  </div>

</div>
<script>

var pieChartDataSource = [
    {category: 'Commits', value: <%= @commits_score %>},
    {category: 'Exercism', value: <%= @exercism_submissions_score %>},
    {category: 'Repos', value: <%= @repos_score %>}
                                                        
];
 
$(function () {             
    $("#pieChartContainer").dxPieChart({
        dataSource: pieChartDataSource,
        series: {
            argumentField: 'category',
            valueField: 'value',
        }    
    });
});
$("#pieChartContainer").dxPieChart({
    series: {
    
        label: {
            visible: true,
            connector: {
                visible: true
            }
        }
    },
    tooltip: {
        enabled: true,
        percentPrecision: 2,
        customizeText: function (value) {
            return value.percentText;
        }
    },
    
    legend: {
        horizontalAlignment: 'center',
        verticalAlignment: 'bottom'
    }
   
});

</script>
<script>
  $(function(){
    var data = {
      labels : <%= @weeks.inspect.html_safe %>,
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : <%= @weekly_commits %>
        }
      ]
    }
    var ctx = $("#ranking-chart").get(0).getContext("2d");
    new Chart(ctx).Line(data);
  })
</script>
