<!DOCTYPE html>
<html>
<head>
  <title>StatChater</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-ember-extension='1'>


  <div class='subnavbar'>
    <div class='subnavbar-inner'>
      <div class='container'>

        <div class='collapse subnav-collapse'>

          <ul class='mainnav'>
            <li class='active'>
            <%= link_to stats_path do %>
              <i class='icon-home'></i>
              <span>Stats</span>
            <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class='icon-user'></i>
                <span>Profile</span>
              <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class='icon-home'></i>
                <span>Chat</span>
              <% end %>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>


<div class='main'>
  <%= yield %>
</div>

</body>
</html>
