<!DOCTYPE html>
<html>
<head>
  <title>Billy's Picks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
  <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.7/js/dx.chartjs.js"></script>
  <%= csrf_meta_tags %>
</head>
<body data-ember-extension='1'>

  <nav class='navbar navbar-inverse' role='navigation' style='margin-bottom:0px'>
    <div class='container'>
      <div class='collapse navbar-collapse navbar-ex1-collapse'>
        <div id='account_info' class='pull-right'>
          <ul class='nav navbar-nav navbar-right'>
           <li class='dropdown'>
             <a class='dropdown-toggle' data-toggle='dropdown'>
                <p><%= link_to 'Logout', logout_path %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= current_user.nickname if current_user %></p>
                
             </a>
             <ul class='dropdown-menu'>
               <li><a>Hello</a></li>
               <li>Goodbye</li>
             </ul>
           </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <div class='subnavbar'>
    <div class='subnavbar-inner'>
      <div class='container'>

        <div class='collapse subnav-collapse'>

          <ul class='mainnav'>
            <li class='active'>
            <%= link_to stats_path do %>
              <i class='icon-home'></i>
              <span>Stats</span>
            <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class='icon-user'></i>
                <span>Profile</span>
              <% end %>
            </li>
          </ul>


        </div>

      </div>
    </div>
  </div>

<div class='main'>
  <%= yield %>
</div>

</body>
</html>
